<!DOCTYPE html>
<html lang="en">
<body>

<header>
  <h1>TrueBil Widget Journey</h1>
</header>

<section>
  <nav>
    <div>
      <button id="button1" type="button" (click)="testDrive()">Take Test Drive</button>
      <button id="button2" type="button" (click)="payToken()" disabled>Pay Token</button>
    </div>
    <div>
      <button id="button3" type="button" (click)="loanProcess()" disabled>Loan Process</button>
      <button id="button4" type="button" (click)="carDeliver()" disabled>Take Car Delivery</button>
    </div>
    <div>
      <button id="button5" type="button" (click)="transferProcess()" disabled>Transfer Process</button>
      <button id="button6" type="button" (click)="reset()">Reset</button>
    </div>
  </nav>

  <div class="container" id="res-container">
    <div class="timeline">
      <div class="marker"></div>
      <div class="timeline-content">
        <p>12 MAY</p>
        <p>You have taken test drive</p>
        <p>2010 White Alto LXI and <span style="color: cyan">2 Others</span></p>
      </div>
    </div>

    <div class="timeline">
      <div class="marker"></div>
      <div class="timeline-content">
        <p>14 MAY</p>
        <p>Pay token</p>
        <p>for 2010 White Alto LXI</p>
      </div>
    </div>

    <div class="timeline">
      <div class="marker"></div>
      <div class="timeline-content">
        <p>14 MAY</p>
        <p>Processing your loan</p>
        <p>Usually take 3-6 days for different banks</p>
      </div>
    </div>

    <div class="timeline">
      <div class="marker"></div>
      <div class="timeline-content">
        <p>Take Car Delivery</p>
        <p>From our Mumbai Showroom</p>
      </div>
    </div>

    <div class="timeline">
      <div class="marker"></div>
      <div class="timeline-content">
        <p>Start Ownership Transfer Process</p>
        <p>please bring the <u>list of document</u> at the time of delivery</p>
      </div>
    </div>
  </div>

  <footer>
    <ng-container *ngIf="show">
      <form name="form" id="form">
        <b>Full Name</b><br><input id="name" type="text" name="name">
        <br><br>
        <b>Email </b><br><input type="email" name="email">
        <br> <br>
        <b>Preferred Color:</b>
        <select id="color" name="color">
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
          <option value="red">Red</option>
          <option value="pink">Pink</option>
        </select>
        <br><br>
        <button type="button" id="submit" (click)="onsubmit(name,color)">Submit</button>
      </form>
    </ng-container>
  </footer>
</section>
</body>
</html>
