* {
  box-sizing: border-box;
}

header {
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color: white;
  text-align: Center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#button1, #button3, #button5, #button2, #button4, #button6 {
  margin: 40px;
  padding: 8px;
  border-radius: 6px;
  background-color: #000;
}

#button1, #button6 {
  color: white;
}

nav {
  float: left;
  width: 40%;
  height: 500px;
  background: #4e4e50;
  padding: 20px;
}

.container {
  width: 60%;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1d;
  padding: 20px;
  height: 500px;
}

.container:before {
  content: '';
  position: absolute;
  top: 32px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 80%;
  background: #950740;
  z-index: 1;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

.timeline {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  float: right;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #C3073F;
  background: snow;
  margin-top: 10px;
  z-index: 9999
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666
}

p {
  font-size: 14px;
  line-height: 1.2em;
  word-spacing: 1px;
  color: #888;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  height: 200px;
}

@media (max-width: 768px ) {
  nav {
    height: 700px;
  }

  #res-container {
    height: 700px;
  }

  #res-container:before {
    height: 64%;

  }
}

/* Responsive layout - IPHONEX
@media (max-width: 375px ) {
  nav{
    background-color: #4e4e50;
    height: 1061px;
  }
  #res-container{
    width: 60%;
    position: relative;
    overflow: hidden;
    background-color: #1a1a1d;
    padding: 20px;
    height: 1061px;
  }

  #marker{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #C3073F;
    background: snow;
    margin-top: 10px;
    z-index: 9999;
    padding:5px
  }

  #res-container:before{
    content: '';
    position: absolute;
    top: 45px;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 76%;
    background: #950740;
    z-index: 1;
  }
}

*/







